<%- include("partials/header") -%>


<h1>About</h1>
<p><%= about %></p><br>
<p class="aboutpara"><a class="iit"href="https://www.iitism.ac.in/">IIT(ISM) Dhanbad</a> <a class="iit" href="https://en.wikipedia.org/wiki/Web_development">Web Development</a> <a class="iit" href="https://en.wikipedia.org/wiki/Computer_programming">Programming</a></p>


<%- include("partials/footer") -%>
