<%- include("partials/header") -%>

<h1>Contact</h1>
<p><%= contact %></p>
<p class="aboutpara"><a  class="iit" href="https://www.linkedin.com/in/yash-vardhan-688952188">linkedin</a><a class="iit" href="https://grumpyyash.github.io/cv-my-website/">github</a><a  class="iit" href="https://www.facebook.com/profile.php?id=100039280729807&ref=bookmarks">facebook</a></p>

<%- include("partials/footer") -%>
